h1
{
text-align: center;
color: maroon;
font-family: forte
}

h2
{
text-align: center;
color: maroon;
font-family: maiandra GD
}

p
{
text-align: center;
color: black;
font-family: maiandra GD
}
